@model IEnumerable<DesafioQSTI.Data.Repository.ServicoCliente>

@{
    ViewData["Title"] = "Ordens de Serviço";
}

<br />
<h1>@ViewData["Title"]</h1>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                Id do Serviço
            </th>
            <th>
                Nome do Serviço
            </th>
            <th>
                Nome do Cliente
            </th>
            <th>
                Versão do Software
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Servico.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Versao)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>

